.container {
    position: relative;
    text-align: center;
    color: white;
  }
h1{
    font-size: 40px;
}
p{
    color: grey;
    text-align: inline;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 40px;
    color: white;
    font: bold;
    border-radius: 5px;
    margin: 0%;

}
.ft{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: 'Kaushan Script', cursive;
}
.abc{
    background-repeat: no-repeat;
}
.donate-today{
    text-align: center;
   
   
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  
  .flex-container > div {
    
    background-color: whitesmoke;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
.color:hover{
    background-color: tomato;
}
.donte-area{
    display: flex;
}
.food-for-family{
    background-color: aquamarine;
    width: 20%;
    margin-left: 1%;
    padding-left: 10px;
    border-radius: 5px;

}
.shelter-for-family{
    background-color: antiquewhite;
    width: 20%;
    margin-left: 1%;
    padding-left: 10px;
    border-radius: 5px;
   
}
.education-for-child{
    background-color: azure;
    width: 20%;
    margin-left: 1%;
    padding-left: 10px;
    border-radius: 5px;
}
.flex-cont{
    display: flex;
    margin-bottom: 150px;
    justify-content: center;
}
.half-width{
    width: 500px;
    padding-left: 5%;
}
.half-width img{
    width: 400px;

}
.my-Div {
    background-color: whitesmoke;
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    margin-left: 35%;
    
  }
